.docs {
  margin-top: 15px;

  &__breadcrumbs {
    padding: 0 50px;
  }

  &__title {
    margin: 24px 0 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 50px;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 10px;
    padding-bottom: 10px;
    color: #787f8b;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &__scanWrapper {
    margin: 20px 0 40px 15px;
    width: 336px;
    height: 488px;
    background-color: #e3e3e3;
  }

  &__scan {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1000px) {
    &__breadcrumbs {
      padding: 0 30px;
    }

    &__wrapper {
      padding: 0 30px;
    }

    &__title {
      font-size: 5.13vw;
    }
  }

  @media screen and (max-width: 768px) {
    &__breadcrumbs {
      padding: 0 40px;
    }

    &__wrapper {
      padding: 0 40px;
    }
  }

  @media screen and (max-width: 480px) {
    margin-top: 10px;

    &__breadcrumbs {
      padding: 0 15px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__wrapper {
      padding: 0 15px;
    }

    &__name {
      font-size: 16px;
    }

    &__text {
      margin-top: 5px;
      padding-bottom: 0;
    }

    &__scanWrapper {
      margin: 15px 0 20px;
      width: 225px;
      height: 300px;
    }
  }
}
