.discount {
  max-width: 1440px;
  padding: 0 50px;
  height: 216px;
  background-image: url("../../images/catalog-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__vector {
    position: absolute;
    top: 13px;
    left: 662px;
  }

  &__products {
    position: absolute;
    bottom: 0;
    left: 896px;
  }

  &__wrapper {
    flex: 0 1 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__title {
    color: #787f8b;
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
    max-width: 520px;
  }

  &__percent {
    margin-left: 85px;
    color: #fff;
    font-size: 66px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 2;
  }

  @media screen and (max-width: 1440px) {
    &__vector {
      left: 45.97vw;
    }

    &__products {
      left: 62.22vw;
    }
  }

  @media screen and (max-width: 1270px) {
    &__title {
      font-size: 3.94vw;
      line-height: 5.51vw;
      max-width: 40.94vw;
    }

    &__percent {
      margin-left: 6vw;
      font-size: 5.2vw;
    }
  }

  @media screen and (max-width: 1000px) {
    height: 21.6vw;
    padding: 0 30px;

    &__vector {
      top: 0;
      height: 16.8vw;
    }

    &__products {
      top: 1vw;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 40px;
  }

  @media screen and (max-width: 600px) {
    height: 325px;
    display: block;

    &__vector {
      height: auto;
      left: auto;
      top: 122px;
      right: -70px;
    }

    &__products {
      top: auto;
      left: calc(50% - 190px);
    }

    &__wrapper {
      flex-direction: column;
    }

    &__title {
      font-size: 4.1vw;
      margin-top: 35px;
      max-width: none;
    }

    &__percent {
      margin-top: 8px;
      font-size: 40px;
      color: #787f8b;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 0 15px;

    &__vector {
      right: -265px;
    }

    &__products {
      width: 408px;
      height: 215px;
      bottom: -5px;
      left: calc(50% - 195px);
    }
  }
}
