.about {
  background-color: #f7f7f9;
  padding-top: 14px;

  &__breadcrumbs {
    padding: 0 50px;

    @media screen and (max-width: 1000px) {
      padding: 0 30px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 40px;
    }

    @media screen and (max-width: 480px) {
      padding: 0 15px;
    }
  }
}
