.main-about {
  background-color: #f7f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  padding: 60px 50px 80px;
}

.main-about__title_small-res {
  display: none;
}

.main-about__text-wrapper {
  flex: 0 1 545px;
  margin-bottom: 12px;
}

.main-about__title {
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.main-about__subtitle {
  color: #787f8b;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  margin-top: 40px;
}

.main-about__link {
  margin-top: 25px;
  display: inline-block;
  text-decoration: none;
  color: #323640;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 26px;
  border-radius: 6px;
  border: 1px solid #323640;
  opacity: 1;
  transition: 0.2s;
}

.main-about__link:hover {
  border: 1px solid rgba(50, 54, 64, 0.7);
  opacity: 0.7;
}

.main-about__pic-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 30px;
  max-width: 570px;
}

.main-about__pic1-wrapper {
  width: 333px;
  height: 390px;
}

.main-about__pic2-wrapper {
  width: 207px;
  height: 241px;
}

.main-about__pic {
  background-size: contain;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1270px) {
  .main-about {
    padding-top: 4.72vw;
    padding-bottom: 6.3vw;
    gap: 5.197vw;
  }

  .main-about__title {
    font-size: 3.937vw;
    margin-top: 1.575vw;
  }

  .main-about__subtitle {
    margin-top: 3.15vw;
  }

  .main-about__pic-wrapper {
    gap: 2.362vw;
  }

  .main-about__pic1-wrapper {
    width: 26.2vw;
    height: 30.7vw;
  }

  .main-about__pic2-wrapper {
    width: 16.3vw;
    height: 19vw;
  }

  @media screen and (max-width: 1000px) {
    .main-about {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media screen and (max-width: 924px) {
    .main-about {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }

    .main-about__title {
      display: none;
      margin-top: 0;
    }

    .main-about__subtitle {
      margin-top: 0;
    }

    .main-about__title_small-res {
      display: block;
    }

    .main-about__text-wrapper {
      flex: auto;
      order: 2;
      max-width: 570px;
      margin-bottom: 0;
    }

    .main-about__pic-wrapper {
      order: 1;
      gap: 30px;
    }

    .main-about__pic1-wrapper {
      width: 333px;
      height: 390px;
    }

    .main-about__pic2-wrapper {
      width: 207px;
      height: 241px;
    }
  }

  @media screen and (max-width: 768px) {
    .main-about {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 650px) {
    .main-about__pic-wrapper {
      gap: 4.62vw;
    }

    .main-about__pic1-wrapper {
      width: auto;
      max-width: 333px;
      height: 60vw;
    }

    .main-about__pic2-wrapper {
      width: auto;
      max-width: 207px;
      height: 37.08vw;
    }
  }

  @media screen and (max-width: 480px) {
    .main-about {
      padding: 35px 15px;
    }

    .main-about__title_small-res {
      font-size: 20px;
    }

    .main-about__subtitle {
      font-size: 14px;
      line-height: 16.8px;
    }

    .main-about__link {
      margin-top: 20px;
    }

    .main-about__pic-wrapper {
      gap: 4.87vw;
    }

    .main-about__pic1-wrapper {
      height: 63.08vw;
    }

    .main-about__pic2-wrapper {
      height: 39.23vw;
    }
  }
}
