.faq {
  margin-top: 15px;
}

.faq__title {
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.faq__list {
  max-width: 1170px;
  margin: 40px auto 0;
  padding: 0 50px;
  list-style: none;
}

.faq__line {
  height: 2px;
  background-image: linear-gradient(
    90deg,
    #d7d7e0,
    #d7d7e0 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 20px 1px;
  border: none;
}

.faq__support {
  max-width: 1170px;
  margin: 40px auto 80px;
  padding: 0 50px;
}

.faq__support-text {
  max-width: 450px;
  color: #787f8b;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.faq__button {
  margin-top: 20px;
  display: block;
  width: fit-content;
  padding: 12px 18px;
  background-color: #323640;
  border-radius: 6px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .faq__title {
    font-size: 5.13vw;
  }

  .faq__list {
    margin-top: 4vw;
    padding: 0 30px;
  }

  .faq__support {
    padding: 0 30px;
    margin-bottom: 8vw;
  }
}

@media screen and (max-width: 768px) {
  .faq__list {
    padding: 0 40px;
  }

  .faq__support {
    padding: 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .faq__list {
    padding: 0 15px;
  }

  .faq__support {
    margin: 25px 0 35px;
    padding: 0 15px;
  }

  .faq__support-text {
    font-size: 14px;
  }
}
