.catalog-list {
  padding: 0 50px;
  margin-bottom: 80px;
}

.catalog-list__title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.catalog-list__items {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .catalog-list__title {
    font-size: 3.473vw;
    margin-bottom: 2.78vw;
  }

  .catalog-list__items {
    gap: 2.08vw;
  }
}

@media screen and (max-width: 1000px) {
  .catalog-list {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .catalog-list {
    padding: 0 40px;
  }
}

@media screen and (max-width: 728px) {
  .catalog-list__items {
    overflow: scroll;
    justify-content: start;
    gap: 15px;
  }
}

@media screen and (max-width: 580px) {
  .catalog-list {
    margin-bottom: 35px;
  }

  .catalog-list__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .catalog-list {
    padding: 0 15px;
  }
}
