.partner {
  margin: 15px 0 80px;
}

.partner__breadcrumbs {
  padding: 0 50px;
}

.partner__title {
  margin: 24px 0 40px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.partner__grid {
  list-style: none;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 570px));
  grid-template-rows: repeat(2, max-content);
  column-gap: 30px;
  row-gap: 6px;
  justify-content: center;
}

.partner-item:nth-child(3) {
  grid-column: 2 / -1;
}

.partner-item__title {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.partner-item__text {
  margin-top: 20px;
  color: #787f8b;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.partner-item__text_wide {
  line-height: 169%;
}

@media screen and (max-width: 1000px) {
  .partner {
    margin-bottom: 8vw;
  }

  .partner__breadcrumbs {
    padding: 0 30px;
  }

  .partner__title {
    font-size: 5.13vw;
  }

  .partner__grid {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .partner__breadcrumbs {
    padding: 0 40px;
  }

  .partner__title {
    margin-bottom: 5.13vw;
  }

  .partner__grid {
    padding: 0 40px;
    grid-template-columns: minmax(min-content, 570px);
    row-gap: 30px;
  }

  .partner-item:nth-child(3) {
    grid-column: auto;
  }
}

@media screen and (max-width: 480px) {
  .partner {
    margin: 10px 0 38px;
  }

  .partner__breadcrumbs {
    padding: 0 15px;
  }

  .partner__grid {
    padding: 0 15px;
  }

  .partner-item__title {
    font-size: 16px;
  }

  .partner-item__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 145%;
  }

  .partner-item__text_wide {
    line-height: 195%;
  }
}
