.service {
  margin-top: 15px;
}

.service__wrapper {
  padding: 0 50px;
  margin-top: 20px;
}

.service__title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.service__grid {
  margin: 40px 0 80px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 570px));
  column-gap: 30px;
  justify-content: center;
}

.grid-item__title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.grid-item__title_m0 {
  margin-bottom: 0;
}

.grid-item__title_m10 {
  margin-bottom: 10px;
}

.grid-item__text {
  color: #787f8b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.grid-item__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.grid-item__text_req {
  line-height: 165%;
}

.grid-item__text_black {
  color: #323640;
}

.grid-item__list {
  margin: 20px 0 42px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step {
  display: flex;
  gap: 16px;
  margin-left: 14px;
}

.step__number {
  box-sizing: border-box;
  padding-top: 4px;
  flex: 0 0 38px;
  height: 38px;
  background-color: #787f8b;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.step__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.grid-item__button {
  margin: 20px 0 40px;
  display: block;
  width: fit-content;
  padding: 12px 18px;
  background-color: #323640;
  border-radius: 6px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .service__wrapper {
    padding: 0 30px;
  }

  .service__title {
    font-size: 5.13vw;
  }
}

@media screen and (max-width: 768px) {
  .service {
    margin-top: 10px;
  }

  .service__wrapper {
    padding: 0 40px;
  }

  .service__grid {
    margin: 5.21vw 0 10.42vw;
    column-gap: 3.91vw;
  }

  .grid-item__title {
    font-size: 2.6vw;
  }

  .grid-item__title_m10 {
    margin-bottom: 1.3vw;
  }

  .grid-item__text {
    font-size: 2.08vw;
  }

  .grid-item__text-wrapper {
    gap: 3.65vw;
  }

  .grid-item__list {
    margin: 2.6vw 0 5.47vw;
    gap: 2.6vw;
  }

  .step {
    margin-left: 1.82vw;
  }

  .step__title {
    margin-bottom: 1.3vw;
    font-size: 2.08vw;
  }

  .grid-item__button {
    margin: 2.6vw 0 5.21vw;
  }
}

@media screen and (max-width: 670px) {
  .service__grid {
    margin: 20px 0 35px;
    grid-template-columns: minmax(min-content, 570px);
  }

  .grid-item__title {
    font-size: 16px;
  }

  .grid-item__title_m10 {
    margin-bottom: 5px;
  }

  .grid-item__text {
    font-size: 14px;
  }

  .grid-item__text-wrapper {
    gap: 28px;
  }

  .grid-item__text_black {
    font-size: 16px;
  }

  .grid-item__list {
    margin: 22px 0 40px;
    gap: 15px;
  }

  .step {
    margin-left: 0;
  }

  .step__title {
    margin-bottom: 2;
    font-size: 14px;
  }

  .grid-item__button {
    margin: 20px 0 35px;
  }
}

@media screen and (max-width: 480px) {
  .service__wrapper {
    padding: 0 15px;
    margin-top: 24px;
  }
}
