.about {
  /* background-color: #f7f7f9; */
  padding: 15px 50px 0;
}

@media screen and (max-width: 1000px) {
  .about {
    padding: 15px 30px 0;
  }
}

@media screen and (max-width: 900px) {
  .about {
    padding: 15px 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 15px 40px 0;
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 15px 15px 0;
  }
}
