.about {
  background-color: #f7f7f9;
  padding-top: 14px;
}

.about__breadcrumbs {
  padding: 0 50px;
}

@media screen and (max-width: 1000px) {
  .about__breadcrumbs {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .about__breadcrumbs {
    padding: 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .about__breadcrumbs {
    padding: 0 15px;
  }
}
