.item {
  display: flex;
  flex-direction: column;
  flex: 0 1 270px;
}

.item__image,
.item__title {
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}

.item__image {
  width: 100%;
}

.item__title {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 20px 0 8px;
}

.item__image_hovered,
.item__title_hovered {
  opacity: 0.8;
}

.item__description {
  color: #787f8b;
  font-size: 16px;
  line-height: 22.4px;
}

.item__price-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.item__price,
.item__old-price {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.item__price_tablet,
.item__old-price_tablet {
  display: none;
}

.item__price {
  color: #967444;
}

.item__old-price {
  color: #969aa5;
  text-decoration-line: line-through;
  margin-right: auto;
}

.item__icon-wrapper {
  width: 22px;
  height: 22px;
  padding: 7px;
  margin: -7px;
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}

.item__icon-wrapper:hover {
  opacity: 0.7;
}

.item__cart-icon {
  object-fit: cover;
}

@media screen and (max-width: 1270px) {
  .item__title {
    font-size: 1.575vw;
    margin: 1.575vw 0 0.63vw;
  }

  .item__description {
    font-size: 1.26vw;
    line-height: 1.764vw;
  }

  .item__price-wrapper {
    margin-top: 0.787vw;
    gap: 0.787vw;
  }

  .item__price,
  .item__old-price {
    font-size: 1.575vw;
  }
}

@media screen and (max-width: 1110px) {
  .item__description {
    font-size: 14px;
    line-height: 16.8px;
  }
}

@media screen and (max-width: 1000px) {
  .item__price,
  .item__old-price {
    font-size: 16px;
  }
}

@media screen and (max-width: 890px) {
  .item__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .item__image {
    margin-bottom: 13px;
  }

  .item__title {
    margin: 10px 0 4px;
  }

  .item__price-wrapper {
    justify-content: flex-start;
    gap: 15px;
  }

  .item__price_desktop,
  .item__old-price_desktop {
    display: none;
  }

  .item__price_tablet,
  .item__old-price_tablet {
    display: block;
  }

  .item__icon-wrapper {
    margin: 0;
    padding: 3px 10px 10px 0;
  }
}

@media screen and (max-width: 728px) {
  .item {
    flex: 0 0 150px;
  }

  .item__image {
    height: 185px;
  }

  .item__title {
    font-size: 14px;
  }
}
