.how-it-works {
  width: 100%;
  height: 902px;
  position: relative;
}

.how-it-works__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.how-it-works__cream {
  display: none;
  position: absolute;
  top: 145px;
  right: 25px;
  z-index: 0;
  width: 33.72vw;
  height: 86.2vw;
}

.how-it-works__title {
  display: none;
  margin: 0 0 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.how-it-works__list {
  display: none;
  position: relative;
  z-index: 2;
  list-style: none;
  padding: 0;
}

.how-it-works__item {
  margin-bottom: 40px;
}

.how-it-works__item:last-of-type {
  margin-bottom: 0;
}

.how-it-works__text-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.how-it-works__text-wrapper_gap {
  gap: 8px;
}

.how-it-works__num {
  color: #967444;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.how-it-works__text {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.how-it-works__line-wrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin-right: 174px;
}

.how-it-works__line {
  flex: 0 1 500px;
  border: 1px solid #ccae9c;
}

.how-it-works__circle {
  flex: 0 0 8px;
  height: 8px;
  border: 2px solid #ccae9c;
  border-radius: 50%;
}

@media screen and (max-width: 1290px) {
  .how-it-works {
    height: 69.92vw;
  }
}

@media screen and (max-width: 768px) {
  .how-it-works {
    width: auto;
    height: auto;
    background-color: #efe4de;
    padding: 50px 40px 19.53vw;
  }

  .how-it-works__img {
    display: none;
  }

  .how-it-works__cream {
    top: 21vw;
    display: block;
  }

  .how-it-works__title {
    display: block;
    font-size: 4.6vw;
    margin-bottom: 13.02vw;
  }

  .how-it-works__list {
    display: block;
  }

  .how-it-works__item {
    margin-bottom: 5.21vw;
  }

  .how-it-works__num {
    font-size: 4.1vw;
  }

  .how-it-works__text {
    font-size: 3.08vw;
  }

  .how-it-works__line-wrapper {
    margin-top: 0.65vw;
    margin-right: 22.66vw;
  }
}

@media screen and (max-width: 480px) {
  .how-it-works {
    padding: 35px 15px 97px;
  }

  .how-it-works__cream {
    top: 79px;
    right: 15px;
    width: 153px;
    height: 394px;
  }

  .how-it-works__title {
    font-size: 20px;
    margin-bottom: 53px;
  }

  .how-it-works__item {
    margin-bottom: 25px;
  }

  .how-it-works__num {
    font-size: 16px;
  }

  .how-it-works__text {
    font-size: 12px;
  }

  .how-it-works__line-wrapper {
    margin: 2px 111px 0 0;
  }

  .how-it-works__line {
    border: none;
    border-bottom: 1px solid #ccae9c;
  }

  .how-it-works__circle {
    flex: 0 0 6px;
    height: 6px;
    border-width: 1px;
  }
}
