.product-grid {
  max-width: 1170px;
  margin: 50px auto 69px;
  padding: 0 50px;
  display: grid;
  grid-template-columns:
    minmax(min-content, max-content) minmax(min-content, max-content)
    10px minmax(min-content, 470px);
  column-gap: 30px;
}

.product-grid__pics-wrapper {
  margin-top: -2px;
}

.product-grid__arrow {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 16px;
  padding: 3px 6px;
}

.product-grid__arrow_up {
  margin-bottom: 10px;
  rotate: 90deg;
}

.product-grid__arrow_down {
  margin-top: 10px;
  rotate: 270deg;
}

.product-grid__pic {
  background-color: #969aa5;
  width: 130px;
  height: 160px;
  margin-bottom: 28px;
}

.product-grid__pic:last-of-type {
  margin-bottom: 0;
}

.product-grid__main-wrapper {
  position: relative;
  margin-top: 9px;
  width: 470px;
  height: 577px;
  background-color: #969aa5;
}

.product-grid__main-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-grid__arrow_left,
.product-grid__arrow_right {
  position: absolute;
  top: calc(50% - 11px);
}

.product-grid__arrow_left {
  left: 2px;
}

.product-grid__arrow_right {
  right: 2px;
  rotate: 180deg;
}

.product-grid__pic-button {
  position: absolute;
  bottom: 23px;
  left: 24px;
  background-color: #fff;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.product-grid__description-wrapper {
  grid-column-start: 4;
}

.product-grid__title {
  margin-top: 18px;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.product-grid__price-wrapper {
  margin: 28px 0;
}

.product-grid__price,
.product-grid__old-price {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.product-grid__price {
  color: #967444;
  margin-right: 10px;
}

.product-grid__old-price {
  color: #969aa5;
  text-decoration-line: line-through;
}

.product-grid__line {
  border-color: #c9cbd4;
}

.product-grid__text {
  margin: 18px 0 42px;
  line-height: normal;
}

.product-grid__counter {
  display: flex;
  max-width: 76px;
  height: 34px;
}

.product-grid__minus,
.product-grid__plus {
  background-color: #fff;
  border: none;
  padding: 0;
  width: 26px;
}

.product-grid__minus:hover,
.product-grid__plus:hover {
  background-color: #c9cbd4;
  cursor: pointer;
}

.product-grid__minus:disabled:hover,
.product-grid__plus:disabled:hover {
  background-color: #fff;
  cursor: auto;
}

.product-grid__minus,
.product-grid__plus,
.product-grid__number {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.product-grid__minus {
  border: 1px solid #c9cbd4;
  border-radius: 10px 0px 0px 10px;
  padding-bottom: 2px;
}

.product-grid__plus {
  border: 1px solid #c9cbd4;
  border-radius: 0px 10px 10px 0px;
}

.product-grid__number-wrapper {
  border-top: 1px solid #c9cbd4;
  border-bottom: 1px solid #c9cbd4;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-grid__button {
  margin-top: 50px;
  display: block;
  width: fit-content;
  padding: 12px 26px;
  background-color: #323640;
  border-radius: 6px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1270px) {
  .product-grid {
    column-gap: 2.36vw;
  }

  .product-grid__pic {
    margin-bottom: 2.2vw;
    width: 10.24vw;
    height: 12.6vw;
  }

  .product-grid__main-wrapper {
    width: 37.01vw;
    height: 45.43vw;
  }

  .product-grid__title {
    margin-top: 1.42vw;
  }

  .product-grid__price-wrapper {
    margin: 2.2vw 0;
  }

  .product-grid__text {
    margin: 1.42vw 0 3.31vw;
  }

  .product-grid__button {
    margin-top: 3.94vw;
  }
}

@media screen and (max-width: 1000px) {
  .product-grid {
    padding: 0 30px;
  }

  .product-grid__pics-wrapper {
    align-self: center;
    margin-top: 0;
  }

  .product-grid__main-wrapper {
    align-self: center;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .product-grid {
    margin-top: 35px;
    padding: 0 40px;
    grid-template-columns: minmax(360px, 470px);
    justify-content: center;
    row-gap: 21px;
  }

  .product-grid__pics-wrapper {
    display: none;
  }

  .product-grid__main-wrapper {
    align-self: center;
    margin-top: 0;
    width: 100%;
    height: 577px;
  }

  .product-grid__pic-button {
    display: none;
  }

  .product-grid__description-wrapper {
    grid-column-start: auto;
  }
}

@media screen and (max-width: 550px) {
  .product-grid__main-wrapper {
    height: 104.91vw;
  }
}

@media screen and (max-width: 480px) {
  .product-grid {
    margin: 35px 0;
    padding: 0 15px;
  }

  .product-grid__main-wrapper {
    height: 113.33vw;
  }

  .product-grid__title {
    margin-top: 23px;
    font-size: 20px;
  }

  .product-grid__price-wrapper {
    margin: 20px 0;
  }

  .product-grid__text {
    margin: 18px 0 15px;
    font-size: 14px;
    line-height: 123%;
  }
  .product-grid__button {
    margin-top: 20px;
  }
}
