.productGrid {
  max-width: 1170px;
  margin: 50px auto 69px;
  padding: 0 50px;
  display: grid;
  grid-template-columns:
    minmax(min-content, max-content) minmax(min-content, max-content)
    10px minmax(min-content, 470px);
  column-gap: 30px;

  &__picsWrapper {
    margin-top: -2px;
  }

  &__arrowButton {
    padding: 0;
    display: block;
    margin: 0 auto;
    height: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &_disabled {
      cursor: auto;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__arrowButton_up {
    margin-bottom: 10px;
  }

  &__arrowButton_down {
    margin-top: 10px;
  }

  &__arrow {
    display: block;
    margin: 0 auto;
    padding: 6px;
  }

  &__pic {
    width: 130px;
    height: 160px;
    margin: -2px -2px 26px;
    border: 2px solid transparent;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: -2px;
    }

    &_selected {
      border: 2px solid #383b47;
    }
  }

  &__mainWrapper {
    position: relative;
    margin-top: 9px;
    width: 470px;
    height: 577px;
    background-color: #969aa5;
  }

  &__mainPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__arrowButton_left,
  &__arrowButton_right {
    height: 28px;
    position: absolute;
    top: calc(50% - 11px);
  }

  &__arrowButton_left {
    left: 2px;
  }

  &__arrowButton_right {
    right: 2px;
  }

  &__picButton {
    position: absolute;
    bottom: 23px;
    left: 24px;
    background-color: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__descriptionWrapper {
    grid-column-start: 4;
  }

  &__title {
    margin-top: 18px;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__priceWrapper {
    margin: 28px 0;
  }

  &__price,
  &__oldPrice {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
  }

  &__price {
    color: #967444;
    margin-right: 10px;

    &_unavailable {
      color: #969aa5;
    }
  }

  &__oldPrice {
    color: #969aa5;
    text-decoration-line: line-through;
  }

  &__unavailable {
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
  }

  &__line,
  &__unavailableLine {
    border: none;
    border-bottom: 1px solid #c9cbd4;
  }

  &__text {
    margin-top: 18px;
    line-height: normal;

    ul {
      padding-left: 25px;
      list-style: none;
    }

    li {
      position: relative;

      &::before {
        content: "•";
        position: absolute;
        left: -15px;
      }
    }
  }

  &__counter {
    margin: 30px 0 50px;
    display: flex;
    max-width: 76px;
    height: 34px;
  }

  &__minus,
  &__plus {
    background-color: #fff;
    border: none;
    padding: 0;
    width: 26px;
  }

  &__minus:hover,
  &__plus:hover {
    background-color: #c9cbd4;
    cursor: pointer;
  }

  &__minus:disabled:hover,
  &__plus:disabled:hover {
    background-color: #fff;
    cursor: auto;
  }

  &__minus,
  &__plus,
  &__number {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }

  &__minus {
    border: 1px solid #c9cbd4;
    border-radius: 10px 0px 0px 10px;
    padding-bottom: 2px;
  }

  &__plus {
    border: 1px solid #c9cbd4;
    border-radius: 0px 10px 10px 0px;
  }

  &__numberWrapper {
    border-top: 1px solid #c9cbd4;
    border-bottom: 1px solid #c9cbd4;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    display: block;
    width: fit-content;
    padding: 12px 26px;
    background-color: #323640;
    border-radius: 6px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }

    &_submit {
      flex: 0 0 197px;
    }
  }

  &__unavailableLine {
    margin: 20px 0;
  }

  &__unavailableText {
    font-size: 16px;
    line-height: normal;
  }

  &__form {
    margin: 20px 0;
    display: flex;
    gap: 20px;
  }

  &__input {
    flex: 0 1 249px;
    height: 36px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    background-color: #e6e8ee;

    &::placeholder {
      color: #969aa5;
      font-size: 14px;
      line-height: normal;
    }
  }

  &__checkboxWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__checkbox {
    border: 1px solid #323640;
    cursor: pointer;
    border-radius: 4px;
    flex: 0 0 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #e6e8ee;
      border-color: rgba(50, 54, 64, 0.7);
    }

    &_checked {
      background-color: #323640;

      &:hover {
        background-color: rgba(50, 54, 64, 0.9);
      }
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }

  @media screen and (max-width: 1270px) {
    column-gap: 2.36vw;

    &__picsWrapper {
      align-self: center;
      margin-top: 0;
    }

    &__mainWrapper {
      align-self: center;
      margin-top: 0;
      width: 37.01vw;
      height: 45.43vw;
    }

    &__pic {
      margin-bottom: 2.2vw;
      width: 10.24vw;
      height: 12.6vw;
    }

    &__title {
      margin-top: 1.42vw;
    }

    &__priceWrapper {
      margin: 2.2vw 0;
    }

    &__text {
      margin-top: 1.42vw;
    }

    &__counter {
      margin: 2.36vw 0 3.94vw;
    }
  }

  @media screen and (max-width: 1092px) {
    &__form {
      flex-direction: column;
      gap: 15px;
    }

    &__input {
      flex: 0 0 auto;
      width: 197px;
    }

    &__button_submit {
      flex: 0 0 auto;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 900px) {
    margin-top: 35px;
    padding: 0 40px;
    grid-template-columns: minmax(360px, 470px);
    justify-content: center;
    row-gap: 21px;

    &__picsWrapper {
      display: none;
    }

    &__mainWrapper {
      align-self: center;
      margin-top: 0;
      width: 100%;
      height: 577px;
    }

    &__picButton {
      display: none;
    }

    &__descriptionWrapper {
      grid-column-start: auto;
    }

    &__form {
      align-items: center;
    }

    &__checkboxWrapper {
      justify-content: center;
    }
  }

  @media screen and (max-width: 550px) {
    &__mainWrapper {
      height: 104.91vw;
    }
  }

  @media screen and (max-width: 480px) {
    margin: 35px 0;
    padding: 0 15px;

    &__mainWrapper {
      height: 113.33vw;
    }

    &__title {
      margin-top: 23px;
      font-size: 20px;
    }

    &__priceWrapper {
      margin: 20px 0;
    }

    &__text {
      margin-top: 18px;
      font-size: 14px;
      line-height: 123%;

      ul {
        padding: 0;
      }

      li::before {
        content: "";
        position: unset;
      }
    }

    &__counter {
      margin: 15px 0 20px;
    }

    &__unavailableText {
      font-size: 14px;
      line-height: 123%;
    }
  }
}
