.main__video {
  padding: 23px 50px 80px;
}

.video__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.video__wrapper {
  margin: 0 auto;
  width: 770px;
  height: 430px;
  background-image: url("../../images/video-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__play-button {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  cursor: pointer;
  transition: 0.2s;
}

.video__play-button:hover {
  opacity: 0.7;
}

.video__play-icon {
  width: 46px;
  height: 55px;
  margin-left: 4px;
}

@media screen and (max-width: 1000px) {
  .main__video {
    padding: 23px 30px 80px;
  }

  .video__title {
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .video__wrapper {
    width: 77vw;
    height: 43vw;
  }

  .video__play-button {
    width: 13.3vw;
    height: 13.3vw;
  }

  .video__play-icon {
    width: 4.6vw;
    height: 5.5vw;
    margin-left: 0.4vw;
  }
}

@media screen and (max-width: 768px) {
  .main__video {
    padding: 23px 40px 35px;
  }
}

@media screen and (max-width: 480px) {
  .main__video {
    padding: 23px 15px 35px;
  }
}

@media screen and (max-width: 467px) {
  .video__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .video__wrapper {
    width: 360px;
    height: 200px;
  }

  .video__play-button {
    width: 62px;
    height: 62px;
  }

  .video__play-icon {
    width: 21.4px;
    height: 25px;
    margin-left: 2px;
  }
}
