.features {
  padding: 80px 50px 0;
}

.features__title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.features__wrapper {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.feature {
  flex: 0 1 370px;
}

.feature__title-wrapper {
  display: flex;
  align-items: center;
  gap: 17px;
}

.feature__pic1,
.feature__pic2,
.feature__pic3 {
  height: 44px;
}

.feature__pic1 {
  flex: 0 0 61px;
}

.feature__pic2 {
  flex: 0 0 22px;
}

.feature__pic3 {
  flex: 0 0 94px;
}

.feature__line {
  display: inline-block;
  height: 44px;
  border: 1px solid #a5a8af;
}

.feature__title {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.feature__description {
  margin-top: 14px;
  color: #787f8b;
  font-size: 16px;
  text-align: justify;
  line-height: 22.4px;
}

.features__image-wrapper {
  margin: 80px -50px 0;
}

.features__image {
  width: 100%;
}

@media screen and (max-width: 1270px) {
  .features__title {
    font-size: 3.937vw;
  }
}

@media screen and (max-width: 1000px) {
  .features {
    padding-left: 30px;
    padding-right: 30px;
  }

  .features__wrapper {
    row-gap: 50px;
    flex-wrap: wrap;
  }

  .feature {
    max-width: 370px;
    flex: 1 0 300px;
  }

  .feature__description {
    text-align: start;
  }

  .features__image-wrapper {
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media screen and (max-width: 860px) {
  .features__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  .features {
    padding-top: 8.974vw;
    padding-left: 40px;
    padding-right: 40px;
  }

  .features__wrapper {
    margin-top: 4.8vw;
    row-gap: 5.13vw;
  }

  .features__image-wrapper {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@media screen and (max-width: 620px) {
  .features__title {
    font-size: 5.13vw;
  }

  .feature__title-wrapper {
    gap: 15px;
  }

  .feature__pic1 {
    margin: 0 16px 0 17px;
  }

  .feature__pic2 {
    margin: 0 36px 0 36px;
  }

  .feature__title {
    font-size: 16px;
  }

  .feature__description {
    font-size: 14px;
    line-height: 16.8px;
  }

  .features__image-wrapper {
    margin-top: 8.974vw;
  }
}

@media screen and (max-width: 480px) {
  .features {
    padding-left: 15px;
    padding-right: 15px;
  }

  .features__image-wrapper {
    margin-right: -15px;
    margin-left: -15px;
  }
}
