.footer {
  background-color: #323640;
  color: #cdcfd7;
  padding: 50px 50px 14px;
}

.footer__top {
  margin: 0 auto 45px;
  max-width: 1170px;
  display: grid;
  grid-template-columns:
    minmax(min-content, 300px) minmax(min-content, 300px)
    minmax(min-content, 300px) 200px;
}

.footer__logo {
  margin-top: -3px;
}

.footer__title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.footer__contacts-list,
.footer__info-list,
.footer__socials-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer__contacts-list,
.footer__info-list {
  flex-direction: column;
  gap: 15px;
}

.footer__socials-list {
  gap: 20px;
}

.footer__info-item,
.footer__contacts-item {
  font-size: 13px;
  line-height: normal;
}

.footer__info-item {
  text-transform: uppercase;
}

.footer__line {
  height: 1px;
  max-width: 1440px;
  background-color: #707480;
  margin: 0 -50px;
}

.footer__bottom {
  max-width: 1170px;
  margin: 24px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__credits {
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 50px 30px 14px;
  }

  .footer__line {
    margin: 0 -30px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 50px 20px 14px;
  }

  .footer__top {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
  }

  .footer__logo {
    grid-row: 1 / -1;
  }

  .footer__info {
    grid-row: 1 / -1;
  }

  .footer__socials {
    align-self: end;
  }

  .footer__title {
    margin-bottom: 13px;
  }

  .footer__line {
    margin: 0 -20px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 35px 40px;
  }

  .footer__top {
    margin-bottom: 25px;
  }

  .footer__line {
    margin: 0 -40px;
  }

  .footer__bottom {
    margin-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    justify-items: center;
    row-gap: 25px;
  }

  .footer__logo {
    grid-row: auto;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .footer__info {
    grid-row: 2 / -1;
  }

  .footer__socials {
    margin-left: 60px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 35px 15px;
  }

  .footer__top {
    justify-items: start;
  }

  .footer__logo {
    margin-top: 0;
    margin-left: -10px;
    width: 114px;
    height: 24px;
  }

  .footer__info {
    grid-row: auto;
  }

  .footer__socials {
    margin-left: 0;
  }

  .footer__title {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .footer__contacts-list,
  .footer__info-list {
    gap: 13px;
  }

  .footer__line {
    margin: 0 -15px;
  }
}
