.question {
  &__name {
    color: #787f8b;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    max-width: 1156px;
    text-align: center;
    margin: 0 auto 35px;
  }

  &__answersList {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: center;

    &_big {
      gap: 30px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 35px;
  }

  &__number {
    font-size: 20px;
    line-height: normal;
  }

  &__arrow {
    border: none;
    background-color: #fff;
    width: 46px;
    padding: 4px 0 2px;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }

    &_disabled {
      cursor: auto;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 1270px) {
    &__name {
      font-size: 1.97vw;
      max-width: 91.02vw;
      margin-bottom: 2.76vw;
    }

    &__pagination {
      gap: 1.26vw;
      margin-top: 2.76vw;
    }

    &__number {
      font-size: 1.57vw;
    }
  }

  @media screen and (max-width: 1180px) {
    &__answersList {
      gap: 4.24vw;

      &_big {
        gap: 2.54vw;
      }
    }
  }

  @media screen and (max-width: 900px) {
    &__name {
      margin-bottom: 4.44vw;
    }

    &__pagination {
      margin-top: 4.44vw;
    }

    &__number {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 810px) {
    &__name {
      font-size: 16px;
    }

    &__pagination {
      gap: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    &__answersList {
      gap: 15px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media screen and (max-width: 580px) {
    &__name {
      margin-bottom: 5.13vw;
    }

    &__pagination {
      margin-top: 4vw;
    }
  }
}
