.question__name {
  color: #787f8b;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  max-width: 1156px;
  text-align: center;
  margin: 0 auto 35px;
}

.question__answers-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.question__answers-list_big {
  gap: 30px;
}

.question__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 35px;
}

.question__number {
  font-size: 20px;
  line-height: normal;
}

.question__arrow {
  border: none;
  background-color: #fff;
  width: 46px;
  padding: 4px 0 2px;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
}

.question__arrow:hover {
  opacity: 0.7;
}

.question__arrow_disabled {
  cursor: auto;
}

.question__arrow_disabled:hover {
  opacity: 1;
}

@media screen and (max-width: 1270px) {
  .question__name {
    font-size: 1.97vw;
    max-width: 91.02vw;
    margin-bottom: 2.76vw;
  }

  .question__pagination {
    gap: 1.26vw;
    margin-top: 2.76vw;
  }

  .question__number {
    font-size: 1.57vw;
  }
}

@media screen and (max-width: 1180px) {
  .question__answers-list {
    gap: 4.24vw;
  }

  .question__answers-list_big {
    gap: 2.54vw;
  }
}

@media screen and (max-width: 900px) {
  .question__name {
    margin-bottom: 4.44vw;
  }

  .question__pagination {
    margin-top: 4.44vw;
  }

  .question__number {
    font-size: 14px;
  }
}

@media screen and (max-width: 810px) {
  .question__name {
    font-size: 16px;
  }

  .question__pagination {
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .question__answers-list {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 580px) {
  .question__name {
    margin-bottom: 5.13vw;
  }

  .question__pagination {
    margin-top: 4vw;
  }
}
