.yourMask {
  padding: 80px 50px;

  &__wrapper {
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    max-width: 833px;
    margin: 0 auto 40px;
  }

  &__subtitle {
    color: #787f8b;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
  }

  @media screen and (max-width: 1270px) {
    padding-top: 6.3vw;
    padding-bottom: 6.3vw;

    &__wrapper {
      height: 40.94vw;
    }

    &__title {
      font-size: 3.94vw;
      max-width: 65.59vw;
      margin-bottom: 3.15vw;
    }

    &__subtitle {
      font-size: 1.97vw;
      margin-bottom: 2.76vw;
    }
  }

  @media screen and (max-width: 1000px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;

    &__wrapper {
      height: 55.21vw;
    }

    &__subtitle {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 8vw 15px;

    &__wrapper {
      height: 79.49vw;
    }

    &__title {
      font-size: 20px;
      max-width: 400px;
      margin-bottom: 5.13vw;
    }

    &__subtitle {
      max-width: 260px;
    }
  }
}
