.breadcrumbs {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 19.6px;
}

.breadcrumbs__link,
.breadcrumbs__slash {
  color: #787f8b;
}

.breadcrumbs__link {
  text-decoration: none;
}
