.breadcrumbs {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 19.6px;

  &__link,
  &__slash {
    color: #787f8b;
  }

  &__link {
    text-decoration: none;
    opacity: 1;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}
