@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.answer {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 0.6s show ease;
}

.answer_faded {
  animation: 0.6s fade ease;
}

.answer__circles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.answer__circle {
  width: 155px;
  height: 155px;
  border-radius: 50%;
}

.answer__background {
  width: 100%;
}

.answer__checkbox {
  margin-top: -17px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #a5a8af;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer__checkbox_hovered {
  background-color: #f7f7f7;
}

.answer__point {
  width: 18px;
  height: 18px;
  background-color: #adadad;
  border-radius: 50%;
}

.answer__name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1180px) {
  .answer {
    width: 13.14vw;
  }

  .answer__circle {
    width: 13.14vw;
    height: 13.14vw;
  }

  .answer__checkbox {
    margin-top: -1.44vw;
    width: 2.54vw;
    height: 2.54vw;
  }

  .answer__point {
    width: 1.53vw;
    height: 1.53vw;
  }

  .answer__name {
    font-size: 1.36vw;
  }
}

@media screen and (max-width: 768px) {
  .answer {
    width: auto;
    flex-direction: row;
  }

  .answer__circles-wrapper {
    flex-direction: row;
  }

  .answer__circle {
    width: 100px;
    height: 100px;
  }

  .answer__checkbox {
    margin-top: 0;
    margin-left: -17px;
    width: 30px;
    height: 30px;
  }

  .answer__point {
    width: 18px;
    height: 18px;
  }

  .answer__name {
    font-size: 14px;
    margin-top: 0;
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .answer__circle {
    width: 72px;
    height: 72px;
  }

  .answer__checkbox {
    margin-left: -17px;
    width: 28px;
    height: 28px;
  }

  .answer__point {
    width: 16px;
    height: 16px;
  }

  .answer__name {
    font-size: 12px;
    margin-left: 8px;
  }
}

/* @media screen and (max-width: 1270px) {
  .answer {
    width: calc(14.33vw - 2px);
  }

  .answer__circle {
    width: calc(14.33vw - 2px);
    height: calc(14.33vw - 2px);
  }

  .answer__checkbox {
    width: 2.83vw;
    height: 2.83vw;
    top: -1.5vw;
  }

  .answer__name {
    font-size: 1.57vw;
    margin-top: -0.79vw;
  }
}

@media screen and (max-width: 768px) {
  .answer__name {
    font-size: 12px;
    word-break: break-all;
  }

  .answer__checkbox {
    width: 30px;
    height: 30px;
    top: -2.5vw;
  }
}

@media screen and (max-width: 580px) {
  .answer {
    flex-direction: row;
    width: auto;
  }

  .answer__circle {
    width: 90px;
    height: 90px;
  }

  .answer__checkbox {
    width: 28px;
    height: 28px;
    top: 0;
    left: -2.5vw;
  }
}

@media screen and (max-width: 480px) {
  .answer__circle {
    width: 17.95vw;
    height: 17.95vw;
  }

  .answer__checkbox {
    left: -4vw;
  }

  .answer__name {
    margin-top: 0;
    margin-left: -2vw;
  }
} */
