.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer__circle {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  border: 2px solid #a5a8af;
}

.answer__background {
  width: 100%;
}

.answer__checkbox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #a5a8af;
  position: relative;
  top: -19px;
  right: 0;
}

.answer__name {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-top: -10px;
}

@media screen and (max-width: 1270px) {
  .answer__circle {
    width: calc(14.33vw - 2px);
    height: calc(14.33vw - 2px);
  }

  .answer__checkbox {
    width: 2.83vw;
    height: 2.83vw;
    top: -1.5vw;
  }

  .answer__name {
    font-size: 1.57vw;
    margin-top: -0.79vw;
  }
}

@media screen and (max-width: 768px) {
  .answer__name {
    font-size: 12px;
  }

  .answer__checkbox {
    width: 30px;
    height: 30px;
    top: -2.5vw;
  }
}

@media screen and (max-width: 580px) {
  .answer {
    flex-direction: row;
  }

  .answer__circle {
    width: 90px;
    height: 90px;
  }

  .answer__checkbox {
    width: 28px;
    height: 28px;
    top: 0;
    left: -2.5vw;
  }
}

@media screen and (max-width: 480px) {
  .answer__circle {
    width: 17.95vw;
    height: 17.95vw;
    border-width: 1px;
  }

  .answer__checkbox {
    left: -4vw;
  }

  .answer__name {
    margin-top: 0;
    margin-left: -2vw;
  }
}
