.expert {
  max-width: 1170px;
  margin: 80px auto 0;
  padding: 0 50px 90px;
  position: relative;
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
  }

  &__textWrapper {
    flex: 0 1 545px;
  }

  &__textTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 20px;
    color: #787f8b;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }

  &__videoWrapper {
    flex: 0 1 570px;
    height: 319px;
    background-image: url("../../images/expert-video-back.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__playButton {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__playIcon {
    width: 22px;
    height: 26px;
    margin-left: 3px;
  }

  &__svg {
    position: absolute;
    bottom: -130px;
    left: calc(50% - 164px);
  }

  @media screen and (max-width: 1270px) {
    margin-top: 6.3vw;
    padding-bottom: 7.09vw;

    &__title {
      font-size: 3.473vw;
      margin-bottom: 2.78vw;
    }

    &__videoWrapper {
      height: 25.12vw;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 30px 90px;
  }

  @media screen and (max-width: 940px) {
    padding-bottom: 8.97vw;

    &__wrapper {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__textWrapper {
      max-width: 570px;
      flex-basis: auto;
    }

    &__videoWrapper {
      flex: 0 1 319px;
      width: 570px;
    }

    &__svg {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 40px 8.97vw;
  }

  @media screen and (max-width: 650px) {
    &__videoWrapper {
      width: calc(100vw - 80px);
      flex-basis: 47.61vw;
    }
  }

  @media screen and (max-width: 580px) {
    &__title {
      font-size: 20px;
    }

    &__wrapper {
      margin-top: 20px;
      gap: 20px;
    }

    &__textTitle {
      margin-bottom: 10px;
    }

    &__text {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    margin-top: 35px;
    padding: 0 15px 15px;

    &__textTitle {
      font-size: 16px;
    }

    &__text {
      font-size: 14px;
      line-height: 16.8px;
    }

    &__videoWrapper {
      width: calc(100vw - 30px);
      flex-basis: 51.54vw;
    }
  }
}
